
body
{
    margin: 0em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

#top
{
    line-height: 3em;
    background-color: #222222;
}

nav, footer
{
    font-weight: bold;
}

nav div, footer div
{
    display: inline;
    margin-left: 3em;
}

.nav-items
{
    float: right;
    margin-right: 3em;
}

a
{
    text-decoration: none;
    color: #BBB;
    margin-left: 1em;
}

a:hover
{
    text-decoration: underline;
}

.container
{
    margin: 4em auto;
    width: 70%;
}

p
{
    font-size: 1.5em;
    line-height: 1.4em;
}

footer 
{
    border-top: 0.25em solid #d5d5d5;
    padding-top: 0.5em;
    font-size: .8em;
}

