<!DOCTYPE html>
	<html>
		<head>
			<title>{{page.title}}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		</head>
		
		<body>
			<nav id="top">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="/cv.html">CV</a></li>
				</ul>
			</nav>
			
            

			<div class = "container">
				{{content}}
				<p>PROJECTS</p>
				{% for category in site.category-list %}
					<h2>{{category}}</h2>
					{% for p in site.pages %}
                        {% if p.category[0] contains category %}
                            {% assign remainder = forloop.index | modulo: 2 %}
                            {%if remainder == 0 %}
							    <div class="module" style="float: left">
                            {% else %}
                                <div class="module" style="float: right">
                            {% endif %}
								<h2>{{p.name}}</h2>
								<img src="{{site.url}}{{p.thumb}}" style= "width: 600px; height: 400px;"/>						
								<div class="text-container">
									<p>Testing smaller module blocks...</p>
								</div>
							 </div>
						{% endif %}
					{% endfor %}
				{% endfor %}
				
				
				<div id="mod" class="modal">
					<span id="span" class="close">&times;</span>
					<a href="https://ScottSpiers.github.io/test">Testing Modal...</a>
				</div>

				<script>
				var mod = document.getElementById("mod");
				var span = document.getElementById("span");
				document.getElementsByClassName("module")[0].addEventListener("click", function(event){mod.style.display = "block";});
				span.onclick = function() {mod.style.display ="none";}
				window.onclick = function(event){ if(event.target == mod) {mod.style.display = "none";}}
				</script>				
			</div>
		
			
			<footer>
				<ul>
					<li><a href="mailto:scott.m.spiers@gmail.com">email</a></li>
					<li><a href="https://github.com/ScottSpiers">github.com/ScottSpiers</a></li>
					<li><a href="https://bitbucket.org/Scott_Spiers/">bitbucket.org/Scott_Spiers</a></li>
				</ul>
			</footer>        
		</body>
	
	<!--
	<script>
	var slideIndex = 1;
	showSlides(slideIndex, 0);
	showSlides(slideIndex, 2);

	function plusSlides(n, s) {
		showSlides(slideIndex += n, s);
	}

	function currentSlide(n, s) {
		showSlides(slideIndex = n, s);
	}

	function showSlides(n, s) {
		var i;
		var numSlides = "";
		
		if(s > 0)
			numSlides +=  s;
		var slides = document.getElementsByClassName("fadeSlides" + numSlides);
		var dots = document.getElementsByClassName("dot" + numSlides);
		
		if(n > slides.length) {
			slideIndex = 1;
		}
		
		if(n < 1) {
			slideIndex = slides.length;
		}
		
		for(i = 0; i < slides.length; ++i){
			slides[i].style.display = "none";
		}
		
		for(i = 0; i < dots.length; ++i) {
			dots[i].className = dots[i].className.replace("active", "");
		}
		
		slides[slideIndex - 1].style.display = "block";
		dots[slideIndex-1].className = "dot" + numSlides + " active";

	}
	</script>
	-->
	
	<!-- For subpages
	<div class="fadeSlides">
		<img src="{{site.url}}/images/stochasticTree.PNG" style="width: 100%; height: 25%;"/>
	</div>
	
	<div class="fadeSlides">
		<img src="{{site.url}}/images/DynamicReflection.PNG" style="width: 100%; height: 25%;"/>
	</div>
	
	<a class="prev" onclick="plusSlides(-1,0)">&#10094;</a>
	<a class="next" onclick="plusSlides(1,0)">&#10095;</a>
	
	OUTSIDE SLIDESHOW CONTAINER
	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1,0)"></span>
		<span class="dot" onclick="currentSlide(2,0)"></span>
		<span class="dot" onclick="currentSlide(3,0)"></span>
	</div>
	-->
 </html>


