<!DOCTYPE html>
	<html>
		<head>
			<title>{{page.title}}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		</head>
		
		<body>
			<nav id="top">
				<div><a href="/">Scott Spiers</a></div>
				<div class="nav-items">
					<a href="/#">Home</a>
					<a href="/#about">About</a>
					<a href="/games.html">Games</a>
					<a href="/projects.html">Projects</a>
					<a href="/jams.html">Jams</a>
					<!--<a href="/reviews.html">Reviews</a>-->
				</div>
			</nav>
			
            

			<div class = "container">
				{{content}}
				<p>PROJECTS</p>
                {% for category in site.category-list %}
					<h2 style="clear: both">{{category}}</h2>
                    {% for p in site.pages %} <!--This will be the slides prob shouldn't be pages-->
                        {% if p.category[0] contains category %}  
                            <div class="module" style="float: left">
                                <h2>{{p.name}}</h2>
                                <img src="{{site.url}}{{p.thumb}}" style= "width: 600px; height: 400px;"/>						
                                <div class="text-container">
                                    <p>Testing smaller module blocks...</p>
                                </div>
                            </div>
						{% endif %}
					{% endfor %}
				{% endfor %}				
			</div>
			
			<footer>
				<div>
					<a href="mailto:scott.m.spiers@gmail.com">email</a>
					<a href="https://www.linkedin.com/in/scott-spiers-818351173">LinkdIn</a>
					<a href="https://github.com/ScottSpiers">github.com/ScottSpiers</a>
				</div>
			</footer>        
		</body>
 </html>


