<!DOCTYPE html>
	<html>
		<head>
			<title>{{page.title}}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		</head>
		
		<body>
			<nav id="top">
				<div><a href="/">Scott Spiers</a></div>
				<div class="nav-items">
					<a href="/#">Home</a>
					<a href="/#about">About</a>
					<a href="/games.html">Games</a>
					<a href="/projects.html">Projects</a>
					<a href="/jams.html">Jams</a>
					<!--<a href="/reviews.html">Reviews</a>-->
				</div>
			</nav>
			
			{{content}}
			
			<footer>
				<div>
					<a href="mailto:scott.m.spiers@gmail.com">email</a>
					<a href="https://www.linkedin.com/in/scott-spiers-818351173">LinkdIn</a>
					<a href="https://github.com/ScottSpiers">github.com/ScottSpiers</a>
				</div>
			</footer>
		</body>
 </html>


